/*
 * Angular JS Specific Styles
 * **************************
 */
/* Hide the element untill it it fully rendered */
.ng-cloak,
[ng-cloak],
[ng\:cloak] {
    display: none !important;
}
/* Animate the ng-repeat directive */
.animate-repeat.ng-enter,
.animate-repeat.ng-leave,
.animate-repeat.ng-move {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.animate-repeat.ng-enter,
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move {
    opacity: 0;
    max-height: 0;
}

.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active {
    opacity: 1;
    max-height: 100px;
}

/*
 * Custom Styles
 * *************
 */
.form-horizontal {
	margin-top: 30px;	
}
